In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
file = 'data/final_df (1).csv'

df = pd.read_csv(file, decimal = ".")
df.head(10)

,Alter_Besucher,Einkommen_Besucher,Geschlecht_Besucher,Zeit_Besucher,KundeNr,Alter_Kunden,Einkommen_Kunden,Preis,Geschlecht_Kunden,Zeit_Kunden,Niederlassung
0,30.0,39919.095335,weiblich,29.0,K1814,NaN,NaN,NaN,NaN,NaN,Bayern
1,41.0,53430.673086,weiblich,27.0,K1544,NaN,NaN,NaN,NaN,NaN,Baden-Württemberg
2,64.0,73163.216927,weiblich,32.0,K1945,NaN,NaN,NaN,NaN,NaN,Baden-Württemberg
3,41.0,36761.482581,weiblich,44.0,K1825,NaN,NaN,NaN,NaN,NaN,Baden-Württemberg
4,35.0,42684.331632,männlich,33.0,K1144,NaN,NaN,NaN,NaN,NaN,Nordrhein-Westfalen
5,67.0,63881.034175,männlich,27.0,K1395,NaN,NaN,NaN,NaN,NaN,Berlin
6,46.0,68885.019568,weiblich,59.0,K1405,NaN,NaN,NaN,NaN,NaN,Nordrhein-Westfalen
7,63.0,63083.288705,weiblich,40.0,K1438,NaN,NaN,NaN,NaN,NaN,Niedersachsen
8,30.0,55256.453047,männlich,31.0,K1313,NaN,NaN,NaN,NaN,NaN,Baden-Württemberg
9,32.0,44873.244571,weiblich,44.0,K1241,NaN,NaN,NaN,NaN,NaN,Sachsen